In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
x = pd.Series([1,2,3])

In [16]:
def f1(x):
    y = np.sum(np.power(x,2))
    return y

In [17]:
f1(x)

14

In [21]:
x = pd.Series([1,2])

In [22]:
def f2(x):
    y = 100 * np.power(np.power(x[0],2) - x[1] , 2) + np.power(1 - x[0] , 2)
    return y

In [23]:
f2(x)

100

In [29]:
x = pd.Series([0,1.1,2.2,3.3,4.4])

In [30]:
def f3(x):
    y = np.sum(np.floor(x))
    return y

In [31]:
f3(x)

10.0

In [63]:
p = pd.DataFrame([np.tile([-32,-16,0,16,32],5) , np.repeat([-32,-16,0,16,32],5)]).T
j = pd.Series(range(1,26))
x = pd.Series([5,10])

p.T+j

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,-31,-14,3,20,37,-26,-9,8,25,42,...,-16,1,18,35,52,-11,6,23,40,57
1,-31,-30,-29,-28,-27,-10,-9,-8,-7,-6,...,32,33,34,35,36,53,54,55,56,57

In [71]:
def f4(x):
    y = np.power(np.sum(1 / (np.sum(np.power(p-x,6),axis=1) + j)) + 0.002 , -1)
    return y

In [72]:
f4(x)

495.5370366058039

In [80]:

sigma = 1
np.random.normal(0,scale=sigma,size=len(x))

array([-0.45372077, -0.997425  ])

In [81]:
def candidate(x,sigma):
    c = x + np.random.normal(0,scale=sigma,size=len(x))
    return c

In [82]:
candidate(x,1)

0     5.998961
1    10.403520
dtype: float64

In [95]:
if True in (x < 6).values:
    print("1")
else:
    print('0')

1

In [94]:
5 in x.values

True

In [96]:
4< x < 6

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().